.todo-item {
  $self: &;

  padding-bottom: 15px;
  display: flex;
  align-items: center;

  @include xxs-block() {
    flex-wrap: wrap;
  }

  &__button-wrapper {
    display: flex;

    @include xxs-block() {
      //flex-direction: column;
      flex: 100%;
      justify-content: space-between;
      max-width: 300px;
      padding-top: 15px;

      @include xxs-block() {
        max-width: initial;
        width: 100%;
      }
    }
  }

  .brand-input {
    max-width: 300px;

    @include xxs-block() {
      max-width: initial;
      width: 100%;
    }
  }

  .brand-button {
    min-width: 100px;
    height: 40px;
    padding: 0;
    margin-left: 10px;

    @include xxs-block() {
      margin-left: 0;
      width: calc(50% - 5px);
    }
  }
}