$columns: 12;

$container-lg: 1170px;
$container-md: 870px;
$container-sm: 570px;
$container-xs: 100%;


$break_hd: 1920px;
$break_xl: 1440px;
$break_lg: 1280px;
$break_md: 1024px;
$break_sm: 768px;
$break_xs: 600px;

$fields: 0;
$fields_xl: 0;
$fields_lg: 0px;
$fields_md: 0px;
$fields_sm: 15px;
$fields_xs: 15px;
$fields_xxs: 15px;

@mixin container-full() {
  @include xs-block() {
    padding-left: $fields_xs;
    padding-right: $fields_xs;
  }
  @include sm-block() {
    padding-left: $fields_sm;
    padding-right: $fields_sm;
  }
  @include md-block() {
    padding-left: $fields_md;
    padding-right: $fields_md;
  }
  @include lg-block() {
    padding-left: $fields_lg;
    padding-right: $fields_lg;
  }
  @include xl-block() {
    padding-left: $fields_xl;
    padding-right: $fields_xl;
  }
  @include hd-block() {
    padding-left: $fields;
    padding-right: $fields;
  }
}


// complete
@mixin hd($name, $value) {
  @media screen and (min-width: $break_hd){
    #{$name}: $value;
  }
}
@mixin hd-block() {
  @media screen and (min-width: $break_hd) {
    @content;
  }
}
@mixin xl($name, $value) {
  @media screen and (min-width: $break_xl) and (max-width: $break_hd - 1) {
    #{$name}: $value;
  }
}
@mixin xl-block() {
  @media screen and (min-width: $break_xl) and (max-width: $break_hd - 1) {
    @content;
  }
}
@mixin lg($name, $value) {
  @media screen and (min-width: $break_lg) and (max-width: $break_xl - 1) {
    #{$name}: $value;
  }
}
@mixin lg-block() {
  @media screen and (min-width: $break_lg) and (max-width: $break_xl - 1) {
    @content;
  }
}
@mixin md($name, $value) {
  @media screen and (min-width: $break_md) and (max-width: $break_lg - 1) {
    #{$name}: $value;
  }
}
@mixin md-block() {
  @media screen and (min-width: $break_md) and (max-width: $break_lg - 1) {
    @content;
  }
}
@mixin sm($name, $value) {
  @media screen and (min-width: $break_sm) and (max-width: $break_md - 1) {
    #{$name}: $value;
  }
}
@mixin sm-block() {
  @media screen and (min-width: $break_sm) and (max-width: $break_md - 1) {
    @content;
  }
}
@mixin xs($name, $value) {
  @media screen and (max-width: $break_sm - 1) {
    #{$name}: $value;
  }
}
@mixin xs-block() {
  @media screen and (max-width: $break_sm - 1) {
    @content;
  }
}

@mixin xxs($name, $value) {
  @media screen and (max-width: $break_sm - 1) {
    #{$name}: $value;
  }
}
@mixin xxs-block() {
  @media screen and (max-width: $break_xs - 1) {
    @content;
  }
}

@mixin from($min_width) {
  @media screen and (min-width: $min_width) {
    @content;
  }
}
@mixin from-sm() {
  @media screen and (min-width: $break_sm) {
    @content;
  }
}
@mixin from-md() {
  @media screen and (min-width: $break_md) {
    @content;
  }
}
@mixin from-lg() {
  @media screen and (min-width: $break_lg) {
    @content;
  }
}
@mixin from-xl() {
  @media screen and (min-width: $break_xl) {
    @content;
  }
}
@mixin from-hd() {
  @media screen and (min-width: $break_hd) {
    @content;
  }
}

@mixin to($max_width) {
  @media screen and (max-width: $max_width) {
    @content;
  }
}
@mixin to-sm() {
  @media screen and (max-width: $break_sm - 1px) {
    @content;
  }
}
@mixin to-md() {
  @media screen and (max-width: $break_md - 1px) {
    @content;
  }
}
@mixin to-lg() {
  @media screen and (max-width: $break_lg - 1px) {
    @content;
  }
}

@mixin container() {
  margin: 0 auto;

  @include from-lg() {
    max-width: $container-lg;
  }
  @include md-block() {
    max-width: $container-md;
  }
  @include sm-block() {
    max-width: $container-sm;
  }
  @include xs-block() {
    max-width: $container-xs;
  }
  @include container-full();
}